[Desktop Entry]
Encoding=UTF-8
Name=Verknüpfung mit VINDRIKTNING Luftqualitätssensor - IKEA Deutschland
Type=Link
URL=https://www.ikea.com/de/de/p/vindriktning-luftqualitaetssensor-70498242/
Icon=text-html
